@{
    ViewBag.Title = "Index";
}

<article class="wk-tiles">
    <h1 class="wk-name">William Kita</h1>
    <a href="http://github.com/wpkita">
        <i class="wk-tile fa fa-github fa-3x"></i>
    </a>
    <a href="http://www.linkedin.com/pub/william-kita/6a/736/528/">
        <i class="wk-tile fa fa-linkedin fa-3x"></i>
    </a>
</article>
